body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-color: #7d83c3;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column; /* Aligne les projets en une seule colonne */
    align-items: center;    /* Centrer les projets horizontalement */
}

.projet {
    margin: 10px;
    height: 200px; /* Hauteur fixe pour les projets */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Optionnel : permet aux projets de prendre toute la largeur disponible */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #4CAF50;
}
