#book {
    width: 600px; /* Largeur du livre */
    height: 400px; /* Hauteur du livre */
    margin: 50px auto; /* Centre le livre */
    position: relative; /* Positionnement relatif pour les pages */
}

.page {
    width: 100%; /* Prend toute la largeur du conteneur */
    height: 100%; /* Prend toute la hauteur du conteneur */
    background: #fff; /* Couleur de fond de la page */
    border: 1px solid #ccc; /* Bordure de la page */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Ombre autour de la page */
    position: absolute; /* Positionnement absolu pour le retournement */
    overflow: hidden; /* Cache le débordement de contenu */
     display: flex;            /* Centrage du contenu de la page */
    align-items: center;      /* Centrage vertical */
    justify-content: center;  /* Centrage horizontal */
}

.page:nth-child(odd) {
    background: #eaeaea; /* Couleur alternative pour les pages impaires */
}

/* Style des images dans les pages */
.page img {
    width: 100%;              /* L'image occupe toute la largeur disponible */
    height: 100%;             /* L'image occupe toute la hauteur disponible */
    object-fit: cover;        /* L'image remplit la page sans être déformée */
    display: block;           /* Évite les marges supplémentaires dues à l'image inline */
}


.container1, .container2 {
  height: 400px;
  position: relative;
  overflow: hidden;
    flex-wrap: wrap;                /* Permet aux mots de passer à la ligne si nécessaire */
    border: 2px solid #ffffff;
    padding: 15px;
    box-sizing: border-box; /* Assure que padding et border sont inclus dans la largeur totale */
    width: 100%; /* Prend toute la largeur du header */
}

#draggableImage1, #draggableImage2 {
  position: absolute;
  width: 100px;
  cursor: grab;
}

#Manifeste_du_Tiers_paysage {
  pointer-events: none; /* Désactive tous les événements de souris */
}


@font-face {
    font-family: 'DINdong';
    src: url('../fonts/dindong-webfont.woff2') format('woff2'),
         url('../fonts/dindong-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DINdong', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(21, 21, 21);
}

* {
    box-sizing: border-box; /* Inclut padding et border dans les calculs de largeur */
}



header {
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: left;
    width: 100%;
}

.container {
    display: left; /* Répartit l'espace entre les mots */
    align-items: center;            /* Centre les mots verticalement */
    flex-wrap: wrap;                /* Permet aux mots de passer à la ligne si nécessaire */
    border: 2px solid #ffffff;
    padding: 15px;
    box-sizing: border-box; /* Assure que padding et border sont inclus dans la largeur totale */
    width: 100%; /* Prend toute la largeur du header */
}

.word { 
    text-align: left; /* Centrer le texte à l'intérieur de chaque mot */
    min-width: 60px; /* Définit une largeur minimale pour chaque mot */
    margin-right: 15px;
}

.word:nth-child(1) {
    margin-left: 20px; /* Pas de marge supplémentaire pour le premier mot */
    margin-right: 60px;
}

a[href^="#"] {
    text-decoration: none;
    color: inherit;
}

a[href^="#"]:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.word:nth-child(1) { margin-left: 0%; }
.word:nth-child(2) { margin-left: 0%; }


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


footer {
    color: #ffffff;
    text-align: right;
    padding: 20px;
}

#contact {
    color: white;
    
}
