
.container1, .container2 {
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
}

#draggableImage1, #draggableImage2 {
  position: absolute;
  width: 100px;
  cursor: grab;
}

@font-face {
    font-family: 'DINdong';
    src: url('../fonts/dindong-webfont.woff2') format('woff2'),
         url('../fonts/dindong-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DINdong', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(21, 21, 21);
}

* {
    box-sizing: border-box; /* Inclut padding et border dans les calculs de largeur */
}



header {
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: left;
    width: 100%;
}

.container {
    display: left; /* Répartit l'espace entre les mots */
    align-items: center;            /* Centre les mots verticalement */
    flex-wrap: wrap;                /* Permet aux mots de passer à la ligne si nécessaire */
    border: 2px solid #ffffff;
    padding: 15px;
    box-sizing: border-box; /* Assure que padding et border sont inclus dans la largeur totale */
    width: 100%; /* Prend toute la largeur du header */
}

.word { 
    text-align: left; /* Centrer le texte à l'intérieur de chaque mot */
    min-width: 60px; /* Définit une largeur minimale pour chaque mot */
    margin-right: 15px;
}

.word:nth-child(1) {
    margin-left: 20px; /* Pas de marge supplémentaire pour le premier mot */
    margin-right: 60px;
}

a[href^="#"] {
    text-decoration: none;
    color: inherit;
}

a[href^="#"]:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.word:nth-child(1) { margin-left: 0%; }
.word:nth-child(2) { margin-left: 0%; }
.word:nth-child(3) { margin-left: 0%; }
.word:nth-child(4) { margin-left: 0%; }


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


footer {
    color: #ffffff;
    text-align: right;
    padding: 20px;
}

#contact {
    color: white;
    
}
